* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: wheat;
}